.moimagezoomview {
    &.mobile {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 1);
        // img {
        //     width: 100%;
        // }
        .closebtn {
            position: fixed;
            color: white;
            right: 0px;
            top: 0px;
            width: 80px;
            height: 80px;
            position: absolute;
            font-size: 100px;
            line-height: 10px;
            text-align: center;

            
            cursor: auto;

            &:after {
                content: "\d7";
                position: relative;
                top: 20px;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        .imagewrapper {
            position: absolute;
            // border: 1px solid blue;
            // width: 100%;
            // height: 100%;
            left: 50%;
            top: 50%;
            img {
                transition: all 2s ease-out;
                // &.rotate {
                //     transform: rotate(90deg);
                // }
            }
        }
    }
}
