

.moimagezoomview {
    overflow: hidden;
    position: absolute;
    width: 0px;
    img {
        position: absolute;
    }
    .loader {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #5d656b; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 0.5s linear infinite;
        margin: auto auto;
        position: relative;
        top: calc(50% - 25px);
    }
}
.moimagezoomcross {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    div {
        position: relative;
        width: 80px;
        height: 80px;
        left: -40px;
        top: -40px;
        background: transparent;
        background-image: radial-gradient(rgba(131, 131, 131, 0.5) 1px, transparent 0);
        background-size: 3px 3px;
        background-position: 1px 1px;
        border: 1px solid rgba(143, 143, 143, 0.6);
    }
}

@media(min-width: 768px) {
    img {
        &.moimagezoom {
            &:hover {
                cursor: crosshair;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
